# **Eksplorasi Dataset Pokemon dengan Python**

---

## Perkenalan

Pokemon adalah waralaba media yang diciptakan pada tahun 1995 oleh Satoshi Tajiri dan dimiliki oleh perusahaan Nintendo. Kali pertama diciptakan, pokemon hanya berupa video konsol Game Boy. Seiring berjalannya waktu, waralaba Pokemon terus mengalami perkembangan dan mempunyai beragam bentuk, antara lain permainan video, anime, manga, exchanging cards, buku, mainan, dan masih banyak lagi. Saat ini, jumlah Pok√©mon sudah mencapai lebih dari 700 dari total 8 generasi.

Setiap pokemon memiliki ciri khas masing-masing. Ciri khas yang paling membedakan antara pokemon satu dengan lainnya adalah dari bentuk fisik yang berbeda. Selain itu, jika dilihat dari data set, setiap Pokemon juga memiliki data yang berbeda. Data yang berbeda tersebut adalah nomor, nama, tipe pertama dan kedua, dan statistik dasar seperti HP, Serangan, Pertahanan, Serangan Khusus, Pertahanan Khusus, dan Kecepatan. Jumlah data Pokemon yang mencapai ratusan dan banyaknya data yang berbeda dari setiap Pokemon, menunjukkan bahwa dataset dari Pokemon-pokemon ini sangat kompleks, sehingga menarik untuk diteliti lebih lanjut.

Salah satu strategi dalam analisis data adalah dengan cara *Exploratory data analysis* (EDA). Pada
EDA, dilakukan eksplorasi data untuk mengetahui informasi-informasi penting dan sifat-sifat khas dari data (banyaknya dan jenis peubah, sebaran data dan sebagainya).  Selain itu, eksplorasi data juga harus disajikan dalam bentuk yang mudah untuk dilihat karakteristik umumnya (misalnya dalam bentuk tabel atau grafik). Penggunaan pendekatan EDA ini juga memiliki manfaat, antara lain dapat mengetahui informasi yang terkandung pada data, mendeteksi adanya outliers, mengekstrak variabel yang penting dalam membangun model, dan lain sebagainya.

Eksplorasi data pada penelitian ini dilakukan dengan menggunakan bahasa pemrograman Python...

Python akan digunakan untuk menganalisa data Pokemon. Dataset Pokemon diunduh dari situs Kaggle. Adapun tujuan dari analisis ini adalah:
- a
- b
- c

## *Import* pustaka yang dibutuhkan

In [16]:
import pandas as pd
import numpy as np

## *Data Loading*

Data loading dilakukan setelah import pustaka selesai. Jika import pustaka berjalan dengan baik, selanjutnya membaca dataset yang akan digunakan dengan menggunakan .read_csv(). Langkah selanjutnya adalah eksplorasi data sederhana. Eksplorasi data sederhana dilakukan agar memberi gambaran umum mengenai dataset yang digunakan. Selain itu, dengan melakukan eksplorasi data sederhana, beberapa informasi penting dapat ditemukan sekaligus, seperti jumlah variabel, null values, tipe data tiap variabel, dan lain sebagainya. 

Kegunaan fungsi .head() adalah untuk menampilkan n baris data teratas. Selain itu, fungsi .head() dapat melihat kolom apa saja yang ada dan bagaimana isinya. Sedangkan fungsi .tail(), kebalikan dari fungsi .head() yaitu untuk menampilkan n baris data terbawah.

In [18]:
df = pd.read_csv('dataset/Pokemon.csv')

In [20]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [25]:
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Dengan menampilkan sebagian data menggunakan .head() dan .tail(), dapat diketahui gambaran umum dari data.

In [24]:
len(df)

800

In [22]:
df.shape

(800, 13)

Dari fungsi len() diketahui bahwa dataset Pokemon terdiri dari 800 baris. Lebih lengkapnya, dengan menggunakan fungsi .shape, data tersebut memiliki 800 baris dan 13 kolom.

## *Data Cleaning*

Bagian ini berisi proses penyiapan data berupa data cleaning sebelum dilakukan explorasi data lebih lanjut. Proses cleaning dapat berupa memberi nama baru untuk setiap kolom, mengisi missing values, menghapus kolom yang tidak dipakai, dan lain sebagainya.

## Eksplorasi Data

Bagian ini berisi explorasi data pada dataset diatas dengan menggunakan query, grouping, visualisasi sederhana, dan lain sebagainya.

## Pengambilan Kesimpulan

Pada bab terakhir ini, harus berisi kesimpulan yang mencerminkan hasil yang didapat dengan dibandingkan dengan objective yang sudah ditulis di bagian pengenalan.